.container{
  margin-right: auto;
  margin-left: auto;
  margin-top: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
}

.container > button{
  width: 200px;
  height: 100px;
  color: paleturquoise;

  color: #000;
  font-size: 48px;
  text-transform: uppercase;
}